.background {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: -1;

    .sky {
        height: 320px;
        flex-shrink: 0;
        width: 100%;
        background-color: #D9ECF2;
        position: relative;
    }

    .grass-dark {
        flex-grow: 1;
        width: 100%;
        position: relative;
        background-color: #467346;
    }

    .svg {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
}
