.footer {
    position: relative;
    font-size: $font-size-sm;
    background-color: #638A52;
    padding: 6rem 0 1rem;
    margin-top: 3rem;
}

.footer-image-link {
    opacity: .8;

    &:hover, &:active {
        opacity: 1;
    }
}

.footer-trees {
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: -55px;
    position: absolute;

    
}
