.mobile-menu {
    margin: 70px 0 20px;
    font-size: 28px;

    .nav-link {
        font-weight: 500;
        color: #FFF;

        &:hover, :active, :focus {
            background-color: #D85D4D;
            color: #FFF;
        }
    }
}
