.sidebar-box {
    background-color: #D85D4D;
    border-radius: $border-radius;
    margin-bottom: 1rem;
}

.sidebar-menu-item {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    display: block;

    &:hover {
        color: #FFF;
        text-decoration: none;
    }

    &.active {
        color: #FFF;
        font-weight: bold;
    }
}
