@import "variables";

.sidebar {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;

    @media (min-width: $breakpoint) {
        margin-left: 30px;
        width: 260px;
    }
}

.sidebar-widget {
    h5 {
        font-size: 20px;
        margin: 0;
        margin-bottom: 12px;
    }

    margin-bottom: 30px;
}

.sub-menu {
    display: none;

    @media (min-width: $breakpoint) {
        display: block;
    }
}

.subMenuItemActive {
    font-weight: bold;
}
